<footer class="link_met_11_1_36 text-xs-center" m-id='36' m-type="link">
    <div class="container p-y-15">
        <ul class="breadcrumb p-0 link-img m-0">
            <li class='breadcrumb-item'>
                友情链接 :
            </li>
            <li class='breadcrumb-item     split'>
                <a href="http://d.ye-ren.com/" title="计算机等级考试" target="_blank">
                    <span>
                        懂设计
                    </span>
                </a>
            </li>
            <!-- <li class='breadcrumb-item     split'>
                <a href="https://mb.mituo.cn/mui081/" title="IT培训" target="_blank">
                    <span>
                        IT培训
                    </span>
                </a>
            </li>
            <li class='breadcrumb-item     split'>
                <a href="https://mb.mituo.cn/mui081/" title="北大青鸟" target="_blank">
                    <span>
                        北大青鸟
                    </span>
                </a>
            </li> -->
        </ul>
    </div>
</footer>
<footer class='foot_info_met_16_1_4 met-foot border-top1' m-id='4' m-type='foot'>
    <div class="container text-xs-center">
        <p>
            我的网站 版权所有 河南野人智能科技有限公司
        </p>
        <div class="powered_by_metinfo">
            
        </div>
        <ul class="met-langlist p-0">
        </ul>
    </div>
</footer>