<header class='met-head navbar-fixed-top' m-id='1' m-type='head_nav'>
                <div class="header">
                    <div class="container">
                        <div class="header-main hidden-md-down">
                            <a href="/" class="met-logo vertical-align block pull-xs-left p-y-5"
                            title="培训学校响应式网站模板">
                                <div class="vertical-align-middle">
                                    <img src="__INDEX__/picture/1521601603-2.gif" alt="培训学校响应式网站模板">
                                </div>
                            </a>
                            <div class="pull-right top_tel">
                                <p>
                                    <a href="/index/center/qqLogin" style="color:white;font-size:16px">qq登陆</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-default box-shadow-none head_nav_met_21_2_1">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header pull-xs-left hidden-lg-up">
                                <a href="/" class="met-logo vertical-align block pull-xs-left p-y-5"
                                title="培训学校响应式网站模板">
                                    <div class="vertical-align-middle">
                                        <img src="__INDEX__/picture/1521601603-2.gif" alt="培训学校响应式网站模板">
                                    </div>
                                </a>
                            </div>
                            <h1 hidden>
                                培训学校响应式网站模板
                            </h1>
                            <button type="button" class="navbar-toggler hamburger hamburger-close collapsed p-x-5 head_nav_met_21_2_1-toggler"
                            data-target="#head_nav_met_21_2_1-collapse" data-toggle="collapse">
                                <span class="sr-only">
                                </span>
                                <span class="hamburger-bar">
                                </span>
                            </button>
                            <!-- 导航 -->
                            <!-- <div class="collapse navbar-collapse navbar-collapse-toolbar pull-md-left p-0"
                            id="head_nav_met_21_2_1-collapse">
                                <ul class="nav navbar-nav navlist">
                                    <li class='nav-item'>
                                        <a href="https://mb.mituo.cn/mui081/" title="网站首页" class="nav-link
                                        active
                                        ">
                                            网站首页
                                        </a>
                                    </li>
                                    <li class='nav-item m-l-0'>
                                        <a href="https://mb.mituo.cn/mui081/about/" target='_self' title="学院简介"
                                        class="nav-link ">
                                            学院简介
                                        </a>
                                    </li>
                                    <li class='nav-item m-l-0'>
                                        <a href="https://mb.mituo.cn/mui081/about1/" target='_self' title="大咖师资"
                                        class="nav-link ">
                                            大咖师资
                                        </a>
                                    </li>
                                    <li class='nav-item m-l-0'>
                                        <a href="https://mb.mituo.cn/mui081/about2/" target='_self' title="教学保障"
                                        class="nav-link ">
                                            教学保障
                                        </a>
                                    </li>
                                    <li class='nav-item m-l-0'>
                                        <a href="https://mb.mituo.cn/mui081/case/" target='_self' title="学生作品"
                                        class="nav-link ">
                                            学生作品
                                        </a>
                                    </li>
                                    <li class='nav-item m-l-0'>
                                        <a href="https://mb.mituo.cn/mui081/about3/" target='_self' title="就业保障"
                                        class="nav-link ">
                                            就业保障
                                        </a>
                                    </li>
                                    <li class='nav-item m-l-0'>
                                        <a href="https://mb.mituo.cn/mui081/feedback/" target='_self' title="网上报名"
                                        class="nav-link ">
                                            网上报名
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- 导航 -->
                            <!-- 会员注册登录 -->
                            <!-- 会员注册登录 -->
                        </div>
                    </div>
                </nav>
            </header>